body {
	font-family: Montserrat;
	font-size: 20px;
	overflow: auto;
	margin:0; 
}

canvas { 
	display: block;
	vertical-align: bottom;
}

.scoreboard tr:nth-child(even) {
	background-color: rgba(248, 249, 250, 0.2);
}

.scoreboard tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.7);
}

.scoreboard .current {
	background-color: rgba(40, 167, 69, 0.5) !important;
}

.scoreboard td {
	padding: 0.5em;
}

table {
	/*position: relative;
	z-index: 2;*/
	table-layout: fixed;
	width: 98%;
	border-collapse: collapse;
}

.task {
	display: block;
	height: 105px;
	padding-top: 34px;
	background-color: black;
	border: 1px solid #f8f9fa;
	border-bottom: 5px solid;
	transition-duration: 0.2s;
	color: #f8f9fa;
	text-decoration: none;
}

.task:hover {
	text-decoration: none;
}

.task:focus {
	outline: 0;
	box-shadow: 0 0 0 0.15rem gray;
}

.unsolved:hover {
	color: #f8f9fa;
}

.unsolved:focus {
	outline: 0;
}

.solved:hover, .solving:hover {
	background-color: #f8f9fa;
	color: black;
}

.solved:active, .solving:active {
	background-color: #f8f9fa;
	color: black;
}

.solving:hover {
	border-bottom-color: #999999;
}

.solving {
	border-bottom-color: white;
}

.solved {
	border-bottom-color: #28a745;
}

.unsolved {
	border-bottom-color: gray;
	opacity: 0.5;
}

.navbar a, .navbar button {
	font-size: 1.2em;
}

#particles-js { 
	position: fixed; 
	width: 100%;
	height: 100%;
	z-index: 1;
	/*background-color: #343a40; 
	background-image: url("");
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; */
}

.main p span {
	font-weight: bold;
}

.bg-black {
	background: black;
}

.bg-gray {
	background: #333;
}

.navbar-brand {
	font-weight: bold;
}

.wrap {
	z-index: 2;
	position: relative;
}

.main {
	padding-top: 5em;
}

.form-signin {
	min-width: 300px;
	width: 20%;
	z-index: 2;
	position: relative;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 3;
}

#inputLogin {
	margin-bottom: -2px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#inputPassword {
	margin-bottom: -2px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#inputPassword2 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.card-link {
	font-size: 16px;
}

.max-height {
	height: 100%;
}

.wrap .to-center-rel {
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.wrap .to-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.form-control[readonly]:focus {
	outline: 0;
	border-color: #ced4da;
	box-shadow: none;
}

img {
	display: block;
	border: 1px solid #f8f9fa;
	border-radius: 1%;
}
.answer {
	display: inline-block;
}

p a {
	color: gray;
	text-decoration: underline;
}


p a:hover {
	color: #f8f9fa;
}

.code * {
	color: #f8f9fa;
}

.code {
	font-family: 'PT Mono', monospace;
	font-size: 16px;
	display: inline-block;
	color: #f8f9fa;
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid #f8f9fa;
}

code {
    color: lawngreen;
}

.supercat {
	border: none;
}