{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">И ты, Юний!</h2>
		<div align="justify">
			<p>Котик Юлий проголодался! Но плохой котик Юний спрятал все вкусняшки в секретном месте :(
                Чтобы не забыть, Юний написал зашифрованное место на листочке и прилепил на холодильник.
                Помогите Юлию найти вкусняшки!
                <br><br><code>Жпшцтдэпн фуи эпещус. Грно тнпузие тй цсулйч хецэнщхужечб вчу!</code><br><br>
                Ответ &mdash; секретное место, 4 буквы.</p>
		</div>
		<img src="{% static 'Sloan.jpg' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>
</div>
{% endblock %}