{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Магия</h2>
		<div align="justify">
			<p> Кот Маклорен оставил вам список заданий, которые вы должны сделать, пока он спит:</p>
			<ol>
				<li>Откройте Excel</li>
				<li>Посчитайте C = 1 - a<sup>2</sup>/2! + a<sup>4</sup>/4! - a<sup>6</sup>/6! + ... - a<sup>10</sup>/10!</li>
				<li>Посчитайте S = a - a<sup>3</sup>/3! + a<sup>5</sup>/5! - a<sup>7</sup>/7! + ... - a<sup>11</sup>/11!</li>
				<li>Постройте график где x = C(a), y = S(a). Для a = -1, -0.95, -0.9...0.9, 0.95, 1</li>
				<li>Запишите в ответ площадь фигуры, которую вы увидите, округлив до целого.</li>
			</ol>
		</div>
		<img src="{% static 'Maclaurin.jpg' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}