{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Ыплрва</h2>
		<div align="justify">
			<p> Котик Слоун опять прошёлся лапками по клавиатуре! 
			И напечатал <a href="oeis.org">oeis.org</a> в адресной строке. 
			Он явно хотел найти ответ на главный вопрос жизни, вселенной и всего такого, но вы помешали. 
			Теперь помогите ему: найдите целочисленную последовательность с номером 42, а в ответ укажите её 10-ый элемент.</p>
		</div>
		<img src="{% static 'Sloan.jpg' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}