{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Где кот?</h2>
		<div align="justify">
			<p> Этого котика зовут Exif. Он очень хочет, чтобы вы его погладили! 
			Но для этого вам надо узнать, на каком острове он живёт и ввести это в качестве ответа. </p>
		<img src="{% static 'Exif.jpg' %}" width="55%" class="mb-4">
		<p> Напишите название по-русски и с большой буквы! </p>
		</div>
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}