{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Классная песня</h2>
		<div align="justify">
			<p>Коту Людвигу очень понравился новый музыкальный клип, который смотрел его хозяин Егор. Людвиг понял, что это испонитель,
                которого хозяин слушает больше всего, но не успел посмотреть название: Егор ушел преподавать на ДСУ.
                Помогите Людвигу узнать название последнего клипа любимого исполнителя хозяина.</p>
		</div>
		<img src="{% static 'Ludwig.jpg' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>
</div>
{% endblock %}