{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Самая тугоплавкая задача</h2>
		<div align="justify">
			<p>Кошка Ада наблюдала за своей хозяйкой <!--Софией-->, пока та занималась йогой. Аду заинтересовали две позы:
        "собака лицом книзу" и "собака лицом кверху". Изучите их подробнее и скажите, какие части тела качает вторая, но не качает первая.
            <br><br> Ответом будет самая высокая часть тела из найденных, без пробелов, на английском.
            <br><br> P.S. Поговаривают, что самый тугоплавкий металл поможет вам справиться с этой задачей.</p>
		</div>
		<img src="{% static 'Ada2.jpg' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>
</div>
{% endblock %}