{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Ваш Кумир</h2>
		<div align="justify">
			<p>Суперкот только начинает измурчать КуМиррр, а вы уже профи! Подскажите ему номера строк, где он наделал багов.</p>
			<div class="code">
<pre>
1 алг
2 нач
3 вниз
4     кц 3 раз
5         вправо
6         закрасить
7     кц
8     нц слева пока не свободно
9         если клетка закрашена 
10             то влево
11        все
12    кон
13 кц</pre>
			</div>
			<img class="supercat" src="{% static 'Supercat.png' %}" width="20%" class="mb-4">
			<p>
			В ответ запишите номера строк через пробел.
			</p>
		</div>
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}