{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Интерактивчик</h2>
		<div align="justify">
			<p>Создайте в Windows полностью невидимую папку и покажите учителю. Он сообщит вам ответ.</p>
		</div>
{#		<img src="{% static 'Ludwig.jpg' %}" width="55%" class="mb-4">#}
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>
</div>
{% endblock %}