{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Котики? Нет, кодировки!</h2>
		<div align="justify">
			<p>Котик Алан переписывался с другом, но последнее его сообщение компьютер не смог раскодировать.
                Алан знает, что для кодировки сообщений компьютер использует Windows1251.
                Помогите Феликсу прочитать сообщение:
                <code>
                    <br><br>215 242 238 225 251 32 238 242 239 240 224 226 235 255 242 252 32 241 238 238 225 249 229 237
                    <br>232 255 44 32 234 238 236 239 252 254 242 229 240 32 228 238 235 230 229 237 32 239 229 240 229 226
                    <br>229 241 242 232 32 225 243 234 226 251 32 226 32 247 232 241 235 224 46 32 196 235 255 32 253 242
                    <br>238 227 238 32 238 237 32 232 241 239 238 235 252 231 243 229 242 32 234 238 228 232 240 238 226
                    <br>234 232 46 32 210 224 234 230 229 32 231 224 234 238 228 232 240 238 226 224 242 252 32 236 238
                    <br>230 237 238 32 246 226 229 242 224 46 32 206 242 226 229 242 32 45 32 241 224 236 238 243 239
                    <br>240 224 235 229 237 232 229
                </code>
            </p>
		</div>
		<img src="{% static 'Alan.jpg' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>
</div>
{% endblock %}