{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Языки</h2>
		<div align="justify">
			<p> Iulius and Iunius has a task for you! 
				Vous avez des programmes dans différents langages de programmation.
				Bilden Sie die Programmpaare, die dasselbe ausgeben.</p>
			
		</div>
		<div class="row">
			<div class="code col-sm-3">
			<pre>
1.

алгоритм котикинаркотики
нач
  цел a, b, c, m
  ввод a, b, c
  m := a
  если b > m то m := b все
  если c > m то m := c все
  вывод m
кон
</pre>
			</div>
			<div class="code col-sm-2" width="10px">
			<pre>
2.

H
</pre>
			</div>
			<div class="code col-sm-3">
			<pre>
3.

a, b, c = map(int, input().split())
#s = "Hello, World!"
print(sorted([a, b, c])[-1])
#print(s)
</pre>
			</div>
			<div class="code col-sm-4">
			<pre>
4.

Mew :: (Ord a) => a -> a -> a -> (a, a, a)
Mew x y z
    | x >= y && y >= z = (x, y, z)
    | x >= z && z >= y = (x, z, y)
    | y >= x && x >= z = (y, x, z)
    | y >= z && z >= x = (y, z, x)
    | z >= x && x >= y = (z, x, y)
    | z >= y && y >= x = (z, y, x)

</pre>
			</div>
		</div>
			
		<div class="row mb-4">
			<div class="code col">
			<pre>
5.

import java.util.Scanner;
 
class CuteCat {
    public static void main(String [] args) {
        Scanner scan = new Scanner(System.in);
 
        int a = scan.nextInt();
        int b = scan.nextInt();
 
        System.out.println(b + a);
    }
}
</pre>
			</div>
			<div class="code col">
			<pre>
6.

#include &lt;bits/stdc++.h>

using namespace std;

int main()
{
    vector&lt;int> arr(3);
    cin >> arr[0] >> arr[1] >> arr[2];
    sort(arr.begin(), arr.end());
    cout &lt;&lt; arr[0] &lt;&lt; arr[1] &lt;&lt; arr[2];
}
</pre>
			</div>
			<div class="code col">
			<pre>
7.

HAI 1.2
I HAS A ANIMAL ITZ "cat"
BOTH SAEM ANIMAL AN "cat"
O RLY?
  YA RLY
	I HAS A a ITZ 0
	I HAS A B ITZ 0
	I HAS A S
	GIMMEH a, GIMMEH B
	a IS NOW A NUMBR, B IS NOW A NUMBR
	S R SUM OF a AN B
	VISIBLE S
  NO WAI
	VISIBLE "Hello, World!"
OIC
OBTW
!!!
This is the famous 'Hello, World!' program
!!!
TLDR
KTHXBYE
</pre>
			</div>
			<div class="code col">
			<pre>
8.
</pre>		
			<img src="{% static 'Piet.jpg' %}" width="100%">
			</div>
		</div>
		<p>Внутри получившихся пар сформируйте минимальные двузначные числа. 
			Например, если у вас есть пара 6 и 2, то запишите её как 26. 
			В ответ внесите эти числа через пробел в порядке увеличения.</p>
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}