{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">И ты, Юлий!</h2>
		<div align="justify">
			<p>Благодаря вам Юлий вернул свои вкусняшки! Он тоже решил их спрятать, а с секретным местом поступить так
                же, как Юний. Юлий решил использовать свой шифр. Проверьте его на взломоустойчивость.
                <br><br><code>ньоооы а,нмйй днеахш еивеии юкзттф стлмрр</code><br><br>
                Ответ &mdash; все сообщение, без пробелов.</p>
		</div>
		<img src="{% static 'Julius.jpg' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>
</div>
{% endblock %}