{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Crypto1</h2>
		<div align="justify">
			<p>Алан решил больше узнать о кодировках и наткнулся в интернете на такую картинку.
                Но он никак не может понять, что тут закодировано?</p>
		</div>
		<img src="{% static 'task.bmp' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>
</div>
{% endblock %}