{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">АДАДАДА</h2>
		<div align="justify">
			<p> Некоторые котики еще совсем недавно, 14 марта, праздновали день &pi; и соревновались, кто знает больше знаков... 
			Но никто не смог ответить котеечке Аде, какая же цифра стоит на 239239 месте после запятой!</p> 
			<img src="{% static 'Ada.jpg' %}" width="55%" class="mb-4">
			<p>Учтите, что первой цифрой после запятой является 1, а второй &mdash; 4.</p>
		</div>
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}