{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Больше квадратов</h2>
		<div align="justify">
			<p>Есть две последовательности. Первая &mdash; 1, 1 + 3, 1 + 3 + 5, 1 + 3 + 5 + 7,...
			Вторая &mdash; 1<sup>2</sup>, 2<sup>2</sup>, ..., n<sup>2</sup>,...
			На этот раз Мондриан решил выяснить, сколько чисел от 1 до 1000 содержаться хотя бы в одной из этих последовательностей.
			Он смог, а вы?</p> 
			<img src="{% static 'Mondrian2.jpg' %}" width="55%" class="mb-4">
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}