{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Есть 10 типа людей...</h2>
		<div align="justify">
			<p>Цукеркот, как и все котороботы, решает задачки в двоичное системе счисления. 
			Он поделился с вами 101 штуками выражений, но в какой-то неправильной кодировке, и знаки операций +, -, *, / перестали отображаться. Восстановите их!</p>
			<ol>
			<li><code>1000 ? 101100 ? 100 = 10011</code></li>
			<li><code>100111 ? 11 ? 11 = 110000</code></li>
			<li><code>11 ? 1101 ? 100111 = 10111110001</code></li>
			<li><code>10000 ? 100 ? 100 = 11111</code></li>
			<li><code>111001 ? 10110011 ? 10 ? 101 = 11101111</code></li>
			</ol>
			<img src="{% static 'Zuckercat.jpg' %}" width="55%" class="mb-4">
			<p>
			В ответ запишите просто 11 знаков операций подряд без пробелов. Например, +++++++++++.
			</p>
		</div>
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}