{% extends "base.html" %}
{% block title %}Задача {{ task.id }}{% endblock%}
{% block content %}
{% include "header.html"%}
{% load staticfiles %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4">
		<h2 class="">Богу квадратов</h2>
		<div align="justify">
			<p>У Мондриана есть клетчатый квадрат 8&times;8. 
			Котик, как настоящий перфекционист, разбил его на разные по форме прямоугольники (1&times;4 и 4&times;1 имеют одинаковую форму, а вот 1&times;4 и 2&times;2 — отличаются). 
			Затем он выбрал самый большой по площади прямоуголник и самый маленький. 
			И наконец-то вычел из большей площади меньшую. Какое наименьшее число у него могло получиться?</p> 
			<img src="{% static 'Mondrian.jpg' %}" width="55%" class="mb-4">
		</div>
		<form method="post" name="answer_form">
			{% csrf_token %}
			<div class="answer"><input type="text" class="form-control" name="answer" placeholder="Ответ" {% if blocked %}readonly{% endif %}></div>
			<button class="btn btn-outline-light" {% if blocked %}disabled{% endif %}>Сдать</button>
		</form>
	</div>	
</div>
{% endblock %}