<!DOCTYPE html>
<html lang="ru" class="max-height">
	<head>
		{% load staticfiles %}
		<title>{% block title %} {% endblock %}</title>
		<meta charset="utf-8">
		<meta name="description" content="ИнфоАбака для 6 класса Л2Ш">
		<meta name="author" content="Зайков Егор, Семенова-Звенигородская София">
		<meta name="keywords" content="Олимпиада, ИнфоАбака, Л2Ш">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=cyrillic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Mono&amp;subset=cyrillic">
		<link rel="stylesheet" href="{% static 'style.css' %}">
	</head>
	<body class="bg-black text-light max-height">
		<div id="particles-js"></div>
		{% block content %}
		{% endblock %}
		<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
		<script src="{% static 'particles.js' %}"></script>
	</body>
</html>