<header>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-black mb-4 border-bottom border-light">
		<a class="navbar-brand ml-3" href="{% url 'main'%}">ИнфоАбака</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ml-3">
					<a class="nav-link {% if current == 'tasks' %} active {% endif %}" href="{% url 'tasks' %}">Задачи</a>
				</li>
				<li class="nav-item ml-3">
					<a class="nav-link {% if current == 'scoreboard' %} active {% endif %}" href="{% url 'scoreboard' %}">Таблица</a>
				</li>
				<li class="nav-item ml-3">
					<a class="nav-link {% if current == 'background' %} active {% endif %}" href="{% url 'background' %}">Позалипать</a>
				</li>
			</ul>
            {% if user.is_authenticated %}
			<form method="GET" action="{% url 'logout' %}">
				{% csrf_token %}
				<button class="btn btn-outline-light mx-3 my-2" type="submit">Выйти</button>
			</form>
            {% else %}
			<form method="GET" action="{% url 'signin' %}">
				{% csrf_token %}
				<button class="btn btn-outline-light mx-3 my-2" type="submit">Войти</button>
			</form>
			<form method="GET" action="{% url 'signup' %}">
				{% csrf_token %}
				<button class="btn btn-outline-light mx-3 my-2" type="submit">Регистрация</button>
			</form>
            {% endif %}
		</div>
	</nav>
</header>