{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
{% include "header.html" with current='main' %}
<div class="wrap main max-height">
	<div class="bg-transparent p-4" align="justify">
		<p>Вам нужно сдать <span>только ответ</span> на&nbsp;20&nbsp;задач: 4&nbsp;темы по&nbsp;5&nbsp;задач в&nbsp;каждой.</p> 
		<p>Задачи каждой темы сдаются <span>по&nbsp;порядку</span>, от&nbsp;1-й до&nbsp;5-й. Вы не&nbsp;сможете сдать 4-ю&nbsp;задачу, пока не&nbsp;сданы ответы на&nbsp;задачи 1, 2 и&nbsp;3. 
		   Цена первой задачи каждой темы&nbsp;&mdash;&nbsp;10&nbsp;очков, второй&nbsp;&mdash;&nbsp;20,&nbsp;&hellip;, пятой&nbsp;&mdash;&nbsp;50.</p>
		<p>На&nbsp;каждую задачу у&nbsp;вас есть <span>три попытки</span> сдать ответ, после чего задача и соответствующая тема блокируются.</p>
		<p>Вы можете заработать <span>бонусные очки</span>:</p>
		<ul>
			<li>За&nbsp;решение всех задач одной темы&nbsp;&mdash;&nbsp;50&nbsp;очков&nbsp;(&laquo;горизонталь&raquo;).</li>
			<li>За&nbsp;решение всех задач с&nbsp;одним и тем&nbsp;же номером вы получите цену, соответствующую задаче с&nbsp;этим номером&nbsp;(&laquo;вертикаль&raquo;). То&nbsp;есть если вы решили все 2-е&nbsp;задачи, вы зарабатываете 20&nbsp;дополнительных очков.</li> 
			<li>Если вы первыми закрыли всю &laquo;вертикаль&raquo; или всю &laquo;горизонталь&raquo;, вам дается этот бонус в&nbsp;двойном размере.</li>
		</ul>
	</div>
</div>
{% include "collapse-scripts.html" %}
{% endblock %}