{% extends "base.html" %}
{% block title %}Таблица{% endblock %}
{% block content %}
{% include "header.html" with current='scoreboard' %}
<div class="wrap max-height main">
	<table align="center" class="scoreboard">
		{% for result in results %}
			<tr class="{% if user.username == result.username %} current {% endif %}">
				<td class="text-center" width="8%">{{ forloop.counter }}</td>
				<td>{{ result.username }}</td>
				<td width="50%">{{ result.score }}</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
