{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="max-height wrap">
	{% if has_error %}
	<div class="text-center pt-5 border-bottom border-danger">
		{% for error in errors %}
			<p>
			{{ error }}
			</p>
		{% endfor %}
	</div>
	{% endif %}
    <form class="form-signin text-center to-center" method="POST" action="{% url 'signin' %}">
        {% csrf_token %}
        <h1 class="mb-4">Вход</h1>
        <input type="text" id="inputLogin" name="username" class="form-control" placeholder="Логин" required autofocus>
        <input type="password" id="inputPassword2" name="password" class="form-control" placeholder="Пароль" required>
        <button class="btn btn-lg btn-success btn-block mt-3" type="submit">Войти</button>
        <a class="text-light card-link" href="{% url 'signup' %}">Зарегистрироваться</a>
    </form>
</div>
{% endblock %}